.container-reset {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15rem 0;
    height: 100vh;
}

.card {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 12px;
    box-shadow: 0px 0px 10px var(--boxShadow-color);
    border: 1px solid rgba(255, 255, 255, 0.125);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 40px;
}

#reset_form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 120%;
    margin-top: 50px;
}

.lock-icon {
    font-size: 3rem !important;
}

.p-text{
    font-size: 12px;
}

.card h2 {
    font-size: 1.5rem;
    margin-top: 10px;
    text-transform: uppercase;
}

.passInput {
    margin-top: 15px;
    width: 90%;
    background: transparent;
    border: none;
    border-bottom: 2px solid var(--primary-color);
    font-size: 15px;
    color: white;
    outline: none;
}
.passInput::placeholder{
    color: white;
}

#reset_pass{
    text-decoration: none;
    color: black;
}

#reset_pass:hover{
    text-decoration: underline !important;
}

.btn {
    margin-top: 15px;
    cursor: pointer;
    width: 100%;
    padding: 10px 0;
    border-radius: .5rem;
    border: none;
    background-color: var(--primary-color);
    color: var(--white);
    font-size: 1.2rem;
    outline: none;
}

.btn:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 10px var(--boxShadow-color);
    background-color: var(--secondary-color);
}


.btn-back {
    margin-top: 15px;
    cursor: pointer;
    width: 120%;
    padding: 10px 0;
    border-radius: .5rem;
    border: none;
    background-color: var(--primary-color);
    color: var(--white);
    font-size: 1.2rem;
    outline: none;
    text-align: center;
    text-decoration: none;
}

.btn-back:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 10px var(--boxShadow-color);
    background-color: var(--secondary-color);
}